@import url(../../common.css);




body {
  background: #9b9b9b;
  
}

#wrapper {
  width: 80%;
  margin: 0 auto;

}

header h1 {
  height: 110px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  background: #faa810;
  text-align: center;
}


header h1 span {
  font-size: 15px;
  display: block;
  padding: 18px;
}


header .stit {
  font-size: 13px;
  /* font-family: ; */
  text-align: center;
  background: #b9b9b9;
  padding: 4px;
}

/*b*/




.side-menu {
  float: left;
  width: 25%;
  height: 674px;
  background: white;
  

}

.container .side-menu h3 {
  color: white;
  background: #880404;
  padding: 8px;
  
}

.container .side-menu ul {
  font-size: 10px;
  font-weight: 700;
  padding: 9px;
  line-height: 3;
  text-decoration: underline;
  
}

.main-content {
  width: 48%;
  float: left;

  background: #dedddd;
  /* margin: 20px 12px 0 12px; */

}
.main-content .art-piece {
  color: #123456;
  padding: 10px;
 
}

.main-content .art-piece .title {
  background: #123456;
  font-weight: bold;
  color: white;
  padding: 10px;
}

.main-content .art-piece .artist {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 0 10px;
  
}

.main-content .art-piece .detail {
  font-size: 10px;
  padding: 15px;
}

.container .banner {
  width: 25%;
  height: 674px;
  background: white;
  float: left;
  padding: 20px 13px;
}

.container .banner .all {
  display: block;
  color: #9b9b9b;
  font-weight: bold;
  text-decoration: underline;
}

.container .banner .love {
display: block;
color: orange;
font-weight: bold;
text-decoration: underline;
}

.container .banner strong {
  font-weight: bold;
  
}

.container .banner h3 {
  line-height: 2;
}

.banner .link {
  font-size: 13px;
  font-family: serif, sans-serif;
  padding-top: 20px;
  
  
}
.banner .link li a {
  font-weight: bold;
  text-decoration: underline;
  
}


.banner .link li span {
  display: block;
  line-height: 2;

}
  
footer address {
color: white;
background: #123456;
font-size: 12px;
text-align: center;
padding: 5px;
} 

footer address a {
  text-decoration: underline;
}

















